body{
    
    padding:0px;
}


/* this is the NavBar styling */
.NavBar{
    display: flex;
    justify-content: space-between;
    margin: auto 150px ;
    
}
#download-icon{
    width:23px;
    height: 23px;
    padding:0px;
    margin:0px;
    margin-right: 5px;

}
.resume{
    display: flex;
    align-items: center;
}
.resume p{
    margin:0px;
    padding:0px;
}
.NavBar section{
    display: flex;
    gap: 15px;
    align-items: center;
    
}
.NavBar section img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.NavBar section a{
    text-decoration:none;
    color: rgb(255, 255, 255);
    background-color: rgb(16, 225, 155);
    padding: 10px;
    border-radius: 15px;
    transition: 0.5s;
    justify-items: center;
}
.NavBar section a:hover{
    background-color:rgb(38, 251, 180) ;
    padding: 13px;
    transition: 0.5s;
}



/* Banner section */
.Banner{
    border: 1px solid;
    display: flex;
    padding-top: 100px;
    justify-content: space-between;
    padding-bottom: 100px;
    margin: auto 150px ;
}
#profilePic{
    border-radius: 50%;
    width: 440px;
    height: 440px;
    padding-right: 30px;
    
}
.introduction{
    max-width: 55%; 
}
.introduction h1{
    font-size: 3rem;
}
.introduction p{
    font-size: 1.1rem;
}

.socials img{
    padding:10px;
    width: 60px;
    transition: 0.2s;

}
.socials img:hover{
    padding: 20px;
    transition: 0.2s;
}



/* Skills section */
.Skills{
    border: 1px solid;
    padding-top: 35px;
    padding-bottom: 30px;
    margin: auto 150px ;
    
}
.Skills{
    justify-items: center;
    gap: 10px;


}
.skills-categories{
    display: flex;
    justify-content:space-around;
    width: 100%;
    height:100%;
    flex-wrap: wrap;

}
.Skills section{
    border: 1px solid;
    width: 320px;
    height: 220px;
    justify-items: center;
    font-size: 1.1rem;
    padding: 5px;
    border-radius: 10px;

}

.skills-categories section h1{
    font-size: 1.45rem;
}

.skills-container{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap:0.4rem;    
}
.Skills-icons{
    border: 1px solid grey;
    display: flex;
    align-items: center;
    padding: .3rem;
    border-radius: 0.5rem;
    background-color:rgb(241 245 249 / 1);
    gap:0.5rem;
    
}
.Skills-icons h5{
    padding: 0px;
    margin: 0px;
    
}

.Skills-icons img{
    width: 30px;
    
}



/* Projects Section */
.Projects {
   
    /* justify-content:space-evenly; */
    
    border: 1px solid;
    margin: auto 150px ;
}
  
.project-card {
    border: 1px solid #0b0b0b;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 16px;
    transition: all 0.3s ease;
    cursor: pointer;
    width:200px;
    
    text-align: center;
    
    background-color: #fff;
}
  
.project-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}
  
.project-card .project-title {
    font-size: 1.2rem;
    margin: 12px 0;
    font-weight: bold;
}
  
.project-card .project-details {
    margin-top: 16px;
}
  
.project-card .project-description {
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 8px;
}
  
.project-card .project-tech {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    gap:1px
}
.project-tech .tech{
    border: 1px solid #bababa;
    padding: 2px;
    border-radius: 5px;
    font-size: 0.7rem;
    color: #555;

    
}
  
.project-card.expanded {
    width: 400px;
    height: auto;
    background-color: #f9f9f9;
}

/* Projects Contact */
.Contact{
    border: 1px solid;
    margin: auto 150px ;
}

/* Footer section */
.Footer{
    border: 1px solid;
    width:100%;
    margin:0px;
    background-color: rgb(156, 154, 154);
}